@font-face {
  font-family: Lato;
  src: url(/assets/fonts/Lato.woff2) format('woff2'),
       url(/assets/fonts/Lato.woff) format('woff');
}
#controls {
  padding: 10px;
  position: relative;
  height:40px;
  display:flex;
  flex-direction: row;
}
body {
  margin: 0;
  background-color: #0b191d;
}
.queue-header {
  flex: 1;
  padding-left: 20px;
  z-index: 20;
  position: absolute;
  line-height:40px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #248289
}
.playlist-container {
  flex-direction: column;
  display: inline-block;
  height:40px;
}
.video-queue {
  z-index: 10;
  height: 38px;
  position:relative;
  width: calc(100% - 2px);
  background-color: #093944;
  border: 1px solid #3DC4C6;
  border-radius: 5px;
  color: #3DC4C6;
}
.queue-container {
  position: relative;
  top: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  /* height: 40px */
}
.queue-container > ol {
  position: relative;
  margin: 0;
  padding: 5px;
  padding-left: 25px;
}
.playing {
  background-color: #0d5b6c;
  padding-left: 51px !important;
}
.remove-from-queue {
  position: absolute;
  right: 5; top: 5px;
  margin-left: 5px;
  font-size: 18px;
}
.playing-indicator, .remove-from-queue {
  color: #093944;
  background-color: #0d5b6c;
}
.playing-indicator {
  margin-right: 15px
}
input#current-url {
  width: 30vw;
  z-index: 20;
  font-size: 14px;
  height: 40px;
  background-color: #093944;
  border: 1px solid #3DC4C6;
  border-radius: 5px;
  color: #3DC4C6;
  padding: 14px;
  padding-left: 10px;
  padding-top:15px;
  line-height:40px;
  font-family: 'Nunito', sans-serif;
  margin-right: 10px;
}
.buttons-container {

  height:40px;
}
button.button {
  display: inline-block;
  height: 40px;
  background-color: #3DC4C6;
  border: 1px solid #3DC4C6;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  line-height: 40px;
  position: relative;
  top: -18px;
}
button.button > a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}
button.button:hover, button.button:hover > a {
  background-color: #093944;
  color: #3DC4C6;
}
.emoji {
  position: absolute;
  font-size: 30px;
}
.emoji-container {
  bottom:0;
  height:60px;
  width:100%;
  font-size: 30px;
  white-space: nowrap;
  overflow-x: scroll;
}
.emoji-trigger {
  position: relative;
  top:-10px;
  font-size: 40px;
  text-decoration: none;
}
.host {
  position: absolute;
  bottom: -15px;
  color: #3DC4C6;
  font-size: 30px;
  left: -15px;
  text-shadow: 2px -2px 5px #000;
}
#users-container {
  height: 40px;
  display: inline-block;
  position: absolute;
  margin-top: 18px;
  right:50px;
}
.user {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 30px;
  border: 5px solid white;
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
}
.user > span {
  padding-left: 1px;
}
.user.self {
  box-shadow: 0px 0px 15px #3dc4c6;
  height: 40px;
  width: 40px;
  font-size: 28px;
}
.playback {
  height: 10px;
}
